<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="moodify_logo.png" alt="Trulli" width="500" height="333">
    <h1>Hacktoberfest 2021</h1>
    <p>Hacktoberfest is great. This little change is a change in frontend of a application xD and I get a T-shirt! Yayy!</p>

    <p>The target of the project was  to build an app which is a music recommender that takes in your picture and then predicts your mood and accordingly suggests a music playlist for you on spotify.</p>
    <h2>Mentors:</h2>
    <ul>
        <li>Abhishek Pai Angle</li>
        <li>Divyanshi Kamra</li>
    </ul>
    <h2>Mentees:</h2>
    <ul>
        <li>Adish Shah</li>
        <li>Dhawal Singh</li>
        <li>Tanirika Roy</li>
        <li>Aaditi Thete</li>
        <li>Sarthak Mehrotra</li>
        <li>Hastyn Doshi</li>
        <li>Karrthik Arya</li>
        <li>Krutheeka R K J</li>
        <li>Sai teja varanasi</li>
        <li>E Kritheesh</li>
        <li>Siddhant Dutta</li>
        
        
    </ul>

</body>
</html>
