<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="moodify_logo.png" alt="Trulli" width="500" height="333">
    <h1>Hacktoberfest 2021</h1>
    <p>Hacktoberfest is great. This little change is a change in frontend of a application xD and I get a T-shirt! Yayy!</p>

    <p>The target of the project was  to build an app which is a music recommender that takes in your picture and then predicts your mood and accordingly suggests a music playlist for you on spotify.</p>
    <h2>Mentors:</h2>
    <ul>
        <li>Abhishek Pai Angle</li>
        <li>Divyanshi Kamra</li>
    </ul>
    <h2>Mentees:</h2>
    <ul>
        <li>Adish Shah</li>
        <li>Dhawal Singh</li>
        <li>Tanirika Roy</li>
        <li>Aaditi Thete</li>
        <li>Sarthak Mehrotra</li>
        <li>Hastyn Doshi</li>
        <li>Karrthik Arya</li>
        <li>Krutheeka R K J</li>
        <li>Sai teja varanasi</li>
        <li>E Kritheesh</li>
        <li>Siddhant Dutta</li>
        
        
    </ul>

    <h2>Flow:</h2>
    <ul>

    <li>The user must generate their authorisation tokens by selecting the right checkboxes as mentioned in the video tutorial.</li>
    <li>The user must copy the personalized token and paste it in the Moodify window.</li>
    <li>The web application Moodify allows the user to click a picture of himself/ herself or if he /she is confident about their current mood, can directly select a mood out of our 4 default moods</li>
    <li>If the user wants his/her suggested playlist to be added to their Spotify account, then they must click on the corresponding check box.</li>
    <li>Now, the user can visit their Spotify account and listen to their personalised playlist!.</li>

    </ul>

</body>
</html>
